@model List<Pharmacy.Domain.Entities.Patient>
@{
	Layout = "~/Views/Shared/_LayoutSecond.cshtml";
}
<h1>Patient</h1>
<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Id</th>
			<th scope="col">FirstName</th>
			<th scope="col">LastName</th>

		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < Model.Count; i++)
		{

			<tr>
				<th scope="row">@(i + 1)</th>
				<td>@Model[i].Id</td>
				<td>@Model[i].FirstName</td>
				<td>@Model[i].LastName</td>
				<td>
					<a  asp-controller="Patient" asp-action="Delete" asp-route-id="@Model[i].Id" class="sampah">
							<span></span>
							<i></i>
						</a>

				</td>
				<td>

					<a class="Btn" asp-controller="Patient" asp-action="Edit" asp-route-id="@Model[i].Id">
						Edit
						<svg class="svg" viewBox="0 0 512 512">
						</svg>
					</a>


				</td>
			</tr>
		}


    </tbody>
    
</table>
<div class="justify-content-center d-flex">
	<a type="button" style="width:115px!important" class="Btn btn-secondary" asp-controller="Patient" asp-action="Create">Add Patient</a>
</div>