@model List<Pharmacy.Domain.Entities.Patient>
@{
	Layout = "~/Views/Shared/_LayoutSecond.cshtml";
}
<h1>Patient</h1>
<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">FirstName</th>
			<th scope="col">LastName</th>
			<th scope="col">Actions</th>

		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < Model.Count; i++)
		{

			<tr>
				<th scope="row">@(i + 1)</th>
				<td>@Model[i].FirstName</td>
				<td>@Model[i].LastName</td>
				<td>
					<a class="attachBtn" title="Attach" href="@Url.Action("Attach")?id=@Model[i].Id">
						@*<i class="fa fa-info"></i>*@
						<i class="fa fa-paperclip" aria-hidden="true"></i>

					</a>
					<div class="mt-2">
						<a asp-controller="Patient" asp-action="Delete" asp-route-id="@Model[i].Id" class="sampah">
                            <i class="bi bi-trash"></i>
						</a>
					</div>
				</td>
				<td>

					<button type="button" class="btn  " data-bs-toggle="modal" data-bs-target="#edit-@Model[i].Id">
							<i class="bi bi-pencil-square"></i>
						</button>

						<!-- Modal -->
					<div class="modal fade" id="edit-@Model[i].Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="editLabel">Modal title</h1>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										
                                        <form asp-action="ApplyEdit" asp-controller="Patient" method="post">

											<div class="form-group">
											<label for="FirstName" class="control-label"></label>
											<input type="text" name="FirstName" class="form-control" value="@Model[i].FirstName">
											<label for="LastName" class="control-label"></label>
											<input type="text" name="LastName" class="form-control" value="@Model[i].LastName">
											<input type="text" name="id" class="form-control d-none" value="@Model[i].Id">

											</div>

											<div class="modal-footer">
												<button type="submit" class="btn btn-primary ">Submit</button>
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
											</div>

										</form>
									</div>

								</div>
							</div>
						</div>




				</td>
			</tr>
		}


    </tbody>
    
</table>


<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
	<div class="justify-content-center">
		<i class="bi bi-patch-plus"></i>
		Add Patient
	</div>
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="@Url.Action("ApplyCreate","Patient")" method="post">

					<div class="form-group">
						<label for="FirstName" class="control-label"></label>
						<input type="text" name="FirstName" class="form-control" placeholder="Enter First Name">
						<label for="LastName" class="control-label"></label>
						<input type="text" name="LastName" class="form-control" placeholder="Enter Last Name">

					</div>

					<div class="modal-footer">
						<button type="submit" class="btn btn-primary ">Submit</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					</div>

				</form>
			</div>

		</div>
	</div>
</div>
